<%- include('./partials/start.ejs') %>
    <section class="desc w-100">
        <div class="container my-4">
            <div class="movie-desc-card">
                <div class="movie-poster">
                    <img src="/<%= movies.file %>" alt="<%= movies.name %>">
                </div>
                <div class="movie-info">
                    <h3 class="movie-title">
                        <%= movies.name %>
                    </h3>
                    <p class="movie-description">
                        <%= movies.desc %>
                    </p>
                </div>

            </div>
        </div>
    </section>
    <%- include('./partials/end.ejs') %>