<%- include('./partials/cStart.ejs') %>
    <section class="gallery">
        <div class="poster">
            <img src="/assets2/images/movie-1.jpg" alt="CALL ME AO" />
            <div class="poster-title">
                <h3>CALL ME AO</h3>
                <span>DRAMA</span>
            </div>
        </div>
        <div class="poster">
            <img src="/assets2/images/movie-2.jpg" alt="BIG BAD RED" />
            <div class="poster-title">
                <h3>BIG BAD RED</h3>
                <span>THRILLER</span>
            </div>
        </div>
        <div class="poster">
            <img src="/assets2/images/movie-3.jpg" alt="Call Me As" />
            <div class="poster-title">
                <h3>HUECO MUNDO</h3>
                <span>ART FILM</span>
            </div>
        </div>
        <div class="poster">
            <img src="/assets2/images/movie-4.jpg" alt="Hueco" />
            <div class="poster-title">
                <h3>MOSTRO ATOM</h3>
                <span>DOCUMENTARY</span>
            </div>
        </div>
    </section>
    <section class="gallery">
        <% movies.map((movie)=> { %>
            <div class="poster" onclick="window.location.href='/desc/<%= movie._id %>'">
                <img src="<%= movie.file %>" alt="movieCover" />
                <div class="poster-title">
                    <h3 class="text-uppercase">
                        <%= movie.name %>
                    </h3>
                    <span>
                        <%= movie.genre %>
                    </span>
                </div>
            </div>
        <% }) %>
    </section>
<%- include('./partials/cEnd.ejs') %>